<h1>図書館　情報</h1>

<% if @error_message %>
  <p style="color: red;"><%= @error_message %></p>
<% else %>
  <ul>
    <% @libraries.each do |library| %>
      <li>
        <strong><%= library["formal"] %></strong><br>
        <a href="<%= library["url_pc"] %>">公式サイト</a><br>
        住所: <%= library["address"] %><br>
        電話番号: <%= library["tel"] %><br>
        <hr>
      </li>
    <% end %>
  </ul>
<% end %>
