<% if @books.present? %>
  <h2>検索結果: <%= params[:search_term] %></h2>
  <div class="book-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @books.each do |book| %>
      <div class="book-item flex items-center border p-4">
        <% if book['image_link'] %>
          <div class="mr-4">
            <%= link_to image_tag(book['image_link'], alt: book['title'], class: "w-24 h-32 object-cover"), book['info_link'], target: "_blank" %>
          </div>
        <% end %>
        <div>
          <h3 class="text-lg font-semibold"><%= book['title'] %></h3>
          <p class="text-gray-600"><%= book['author'] %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @books %>
<% elsif params[:search_term] %>
  <p>検索結果がありません。</p>
<% end %>
