<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">書籍詳細</h1>

  <% if flash[:alert] %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline"><%= flash[:alert] %></span>
    </div>
  <% end %>

  <% if @book.present? %>
    <div class="bg-white shadow-md rounded-lg p-4 mb-4">
      <h2 class="text-xl font-semibold mb-2"><%= @book[:title] %></h2>
      <div class="flex">
        <% if @book[:cover_url].present? %>
          <img src="<%= @book[:cover_url] %>" alt="書籍のカバー" class="w-48 h-auto mr-4"/>
        <% else %>
          <div class="w-48 h-auto mr-4 bg-gray-200"></div> <!-- カバー画像がない場合のplaceholder -->
        <% end %>
        <div>
          <p class="text-gray-700">ISBN: <%= @book[:isbn] %></p>
          <p class="text-gray-700">著者: <%= @book[:author] %></p>
          <p class="text-gray-700">出版社: <%= @book[:publisher] %></p>
        </div>
      </div>
    </div>
  <% elsif @isbn.present? && !flash.alert %>
    <p>書籍詳細情報が見つかりませんでした。</p>
  <% end %>

  <% if @availability_results.present? && !@availability_results[:error] && @availability_results[@isbn] %>
    <div class="bg-white shadow-md rounded-lg p-4">
      <h2 class="text-xl font-semibold mb-2">大阪府内図書館 貸出状況 (ISBN: <%= @isbn %>)</h2>
      <% @availability_results[@isbn].each do |systemid, system_info| %>
        <div class="mb-6 p-4 border rounded-lg">
          <div class="flex justify-between items-center mb-2">
            <h3 class="text-lg font-semibold"><%= systemid_display_name(systemid) %></h3>
          </div>
          <div class="grid grid-cols-4 gap-2"> <%# grid layout for library branches %>
            <% if system_info[:libraries].present? %>
              <% system_info[:libraries].each do |lib_name, status| %>
                <div class="flex flex-col items-center justify-center p-2 border rounded-md shadow-sm">
                  <%= link_to library_display_name(lib_name), library_path(systemid: systemid, libkey: lib_name), class: "text-sm text-center text-blue-500 underline" %>
                  <span class="text-xs text-gray-700"><%= status %></span>
                </div>
              <% end %>
            <% else %>
              <p>蔵書なし</p>
            <% end %>
          </div>
          <% if system_info[:reserveurl].present? %>
            <div class="mt-4 text-center">
              <a href="<%= system_info[:reserveurl] %>" target="_blank" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 inline-block">予約する</a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% elsif @isbn.present? && !flash.alert && !@book.present? %>
    <p>大阪府内の図書館で書籍情報が見つかりませんでした。</p>
  <% end %>

  <% if @isbn.blank? %>
    <p>ISBN を指定して書籍の貸出状況を確認してください (例: /books/9784041095989)</p>
  <% end %>
</div>
