<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">書籍詳細</h1>
  <% if flash[:alert] %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline"><%= flash[:alert] %></span>
    </div>
  <% end %>

  <% if @book.present? %>
    <div class="bg-white shadow-md rounded-lg p-4">
       <h2 class="text-xl font-semibold mb-2"><%= @book['Title'] %></h2>
       <p class="text-gray-700">ISBN: <%= @book['ISBN'] %></p>
        <p class="text-gray-700">著者: <%= @book['Author'] %></p>
        <p class="text-gray-700">出版社: <%= @book['Publisher'] %></p>
        <% if @book['Cover URL'].present? %>
           <img src="<%= @book['Cover URL'] %>" alt="書籍のカバー" class="w-60 h-auto mt-4"/>
        <% end %>
    </div>
  <% end %>
</div>